body {
  background-color: #23033d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allDB {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 240, 241);
  height: 88vh;
  margin: 5% 5%;
  width: 90vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1f0535;
  height: 70vh;
  gap: 1rem;
  width: 40vw;
  border-radius: 10px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}

label {
  width: 35vw;
  font-size: 20px;
  color: #fff;
}

.inputIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

::placeholder {
  color: #fff;
  font-size: 15px;
}

.containers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(43, 3, 80);
  height: 80vh;
  gap: 1rem;
  margin-top: 25px;
  width: 86vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.text {
 display: flex;
 text-align: left;
 justify-content: space-between;
 flex-direction: column;
  color: #fff;
  gap: 5rem;
}

.btn {
    background-color: #43056d;
}