body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d9dfee;
    overflow: scroll;
}

.menubar {
    width: 15vw;
}

.mainboard {
    width: 75vw;
}

.taskbtn {
    height: 73vh;
    width: 73vw;
}