* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: rgb(177, 177, 180);
  --secondaryColor: rgb(55, 2, 124);
  --textColor: rgb(249, 249, 252);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  width: 10vw;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

input {
  background-color: transparent;
  width: 35vw;
  border-color: #fff;
  color: #fff;
  height: 6vh;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
}